* {
    margin: 0px;
}

h2 {
    color: #8a63a2;
}

header {
    background-color: #8a63a2;
    color: white;
    margin: 0px;
    text-align: center;
    font-family: Arial;
    padding: 50px;
}

nav {
    color: white;
    background-color: #f5f0ff;
    font-family: 微軟正黑體;
    text-align: center;
}

nav a {
    padding: 8px 25px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    border-radius: 20px;
    background-color: #f5f0ff;
    color: #cd84f4;
    text-decoration: underline;
}

.card {
    background-color: #f5f0ff;
}

.nametop {
    text-size-adjust: 20px;
}

.nametext {
    font-family: 微軟正黑體;
    color: white;
    background-color: #f5f0ff;
}

.about-image {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 2em;
}

.about-container {
    display: flex;
    align-items: center;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}